$painel-primary-color: #272727;
$main-color: #da9903;
$dark-base-color: #000000;
$light-base-color: #ffffff;
$grey-base-color: #495057;
$grey_light-base-color: #DEE2E6;
$bluegreen-base-color: #005A5B;
$blue-border_base-color: #007176;
$background-base-color: #f5f5f5;

$btn-primary: #da9903;
$text-btn-primary: #ffffff;

$btn-primary-dk: #000000;
$text-btn-primary-dk: #da9903;

$btn-social-midia: #ffffff;
$text-btn-primary-dk: #da9903;
